<%- include('templates/header.ejs') %><table>
<main class="main-error">
<div class="error-text">
    <h1>
    ERROR 404: 
</h1>

<h2>
    Algo no ha ido como debería
</h2>
<h3>
    Página no encontrada, vuelva a la pantalla de inicio.

    </h3>
</div>
<div class="div-i-error">
    <img class="img-mini" src="../media/404g.gif" alt="gif not found">
</div></main>
<%- include('templates/footer.ejs') %>